{% extends "base_admin.html" %}
{% block content %}
<style>
    .error {
        color: red;
        margin-bottom: 20px;
    }
</style>

{% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="error">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

<h2>用户列表</h2>
<ul>
    {% for user in users %}
    <li>{{ user.username }} - {{ user.role }} <a href="{{ url_for('delete_entity', entity='user', id=user.id) }}">删除</a></li>
    {% endfor %}
</ul>
{% endblock %}