{% if visitor.role == 'tutor' %}
    {% extends "base_tutor.html" %}
{% else %}
    {% extends "base_student.html" %}
{% endif %}
{% block content %}
<style>
    .profile-content {
        width: 80%;
        max-width: 1000px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    .profile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile-photo {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .profile-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    .profile-table th, .profile-table td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }
    .profile-table th {
        background-color: #f4f4f4;
    }
    .edit-button {
        margin-top: 20px;
        display: inline-block;
        padding: 10px 20px;
        color: white;
        background-color: #007BFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
    .edit-button:hover {
        background-color: #0056b3;
    }
    .error {
        color: red;
        margin-bottom: 20px;
    }
</style>

<div class="profile-content">
    <h1 class="center-text">{{user.username}}同学的个人主页</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="error">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <table class="profile-table">
        <tr>
            <th>用户名:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>电话号码:</th>
            <td>{{ user.phoneNumber }}</td>
        </tr>
        <tr>
            <th>地址:</th>
            <td>{{ user.location }}</td>
        </tr>
    </table>
    {% if visitor.id == user.id or visitor.role == admin %}
            <div style="text-align: center;">
        <a href="{{ url_for('edit_student_profile', user_id=user.id) }}" class="edit-button">编辑信息</a>
        </div>

    {% endif %}
</div>
{% endblock %}
